<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-46-137-187-23.eu-west-1.compute.amazonaws.com:5432/d4jqjn73gagem9</property>
        <property name="hibernate.connection.username">kwvuukpxmwbphq</property>
        <property name="hibernate.connection.password">07714885f996904c016cedaaea4e5591c3ad396dc4ad5a1ec4f5015ba4b4c2bd</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!--  annotation mapping -->
        <mapping class="ru.job4j.entity.car.Color"/>
        <mapping class="ru.job4j.entity.car.Engine"/>
        <mapping class="ru.job4j.entity.car.Year"/>
        <mapping class="ru.job4j.entity.car.Body"/>
        <mapping class="ru.job4j.entity.car.Car"/>
        <mapping class="ru.job4j.entity.user.User"/>
        <mapping class="ru.job4j.entity.ad.Ad"/>

    </session-factory>
</hibernate-configuration>