<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-246-84-100.eu-west-1.compute.amazonaws.com:5432/d76qrrni4q6m6</property>
        <property name="hibernate.connection.username">qidsfszhsqthpq</property>
        <property name="hibernate.connection.password">bc97d64384c151512b54b8554039953533a8142ac0847f7810165410439dd8ee</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!--  annotation mapping -->
        <mapping class="ru.job4j.entity.car.Color"/>
        <mapping class="ru.job4j.entity.car.Engine"/>
        <mapping class="ru.job4j.entity.car.Year"/>
        <mapping class="ru.job4j.entity.car.Body"/>
        <mapping class="ru.job4j.entity.car.Car"/>
        <mapping class="ru.job4j.entity.user.User"/>
        <mapping class="ru.job4j.entity.ad.Ad"/>

    </session-factory>
</hibernate-configuration>